@charset "utf-8";
/* CSS Document */
body,div,ul,li,a,span,p,i,em{
	padding:0;
	margin:0;
}




/*主体部分*/
#Tview{z-index:666;position:relative;}
.product_main{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.product_main_title{
	margin: 0 auto;
}
.product_main_titleL>a{
	line-height: 60px;
	color: #174917;
	font-size: 16px;
}
.product_main_titleL>a:hover{
	text-decoration: none;
}
.product_main_titleR>input[type="search"]{
	width: 155px;
	height: 25px;
	border:1px solid #174917;
	border-radius: 20px;
	margin: 15px 0;
	position: relative;
	text-indent: 8px;
	outline: none;
}
.product_main_titleR>a{
	display: block;
	position: absolute;
	top: 11px;
	left: 141px;
}
.line{
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.series{
	width: 360px;
	height: 60px;
	margin: 45px auto;
}
.series>i{
	width: 120px;
	height: auto;
	border-bottom: 1px solid #ccc;
	display: block;
	float: left;
	margin: 20px 0;
}
.series>span{
	width: 30px;
	height: auto;
	border-bottom: 1px solid #ccc;
	display: block;
	float: left;
	transform: rotateZ(-60deg);
	margin: 20px 0px 0px -15px;
}
.series>p{
	font-size: 22px;
	color: #002800;
	float: left;
	margin: 5px 0;
}
.series>em{
	width: 30px;
	height: auto;
	border-bottom: 1px solid #ccc;
	display: block;
	float: left;
	transform: rotateZ(60deg);
	margin: 20px -15px 0px 0px;
}
.series>b{
	width: 120px;
	height: auto;
	border-bottom: 1px solid #ccc;
	display: block;
	float: left;
	margin: 20px 0;
}
.play{
	width: 100%;
}
.play>li{
	width: 25%;
	height: auto;
	float: left;
	list-style: none;
}
.play>li>a>img{
	margin: 0 15%;
}
.play>li>a>p{
	font-size: 16px;
	color: #000;
	text-align: center;
	line-height: 25px;
}
.play>li>a>span{
	font-size: 14px;
	color: #999;
	text-align: center;
	display: block;
}
.play>li>a:hover{
	text-decoration: none;
}
.more{
	float: right;
	width: auto;
	height: auto;
	background: #e7fad3;
	padding: 5px 10px;
	border-radius: 5px;
	color: #333;
	margin-top: 20px;
}
.more:hover{
	text-decoration: none;
}



/*响应式 手机端*/
@media only screen and (max-width:767px ) {
	.product_main_titleL>a {
	    font-size: 15px;
	}
	.series {
	    width: 100%;
	    margin: 30px auto;
	}
	.series>i {
	    width: 30%;
	}
	.series>p {
	    font-size: 20px;
	}
	.series>b {
	    width: 30%;
	}
	.play>li {
    	width: 47%;
    	margin: 10px 4px;
	}
	.play>li>a>img {
	    margin: 0 0;
	    width: 100%;
	}
	.play>li>a>span {
	    font-size: 13px;
	}
}
/*响应式 平板*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.play>li {
	    width: 50%;
	    margin: 10px 0;
	}
	.play>li>a>img {
	    margin: 0 23%;
	}
}